# Blockchain Deployment (Root)
SEPOLIA_RPC_URL=your_sepolia_rpc_url_here
PRIVATE_KEY=your_wallet_private_key_here
ETHERSCAN_API_KEY=your_etherscan_api_key_for_verification

# Frontend Config
NEXT_PUBLIC_IDENTITY_CONTRACT_ADDRESS=your_identity_contract_address_here
NEXT_PUBLIC_AUCTION_CONTRACT_ADDRESS=your_auction_contract_address_here
NEXT_PUBLIC_EXPECTED_CHAIN_ID=11155111
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:5001/api

# Pinata Config (Frontend)
NEXT_PUBLIC_PINATA_JWT=your_pinata_jwt_here
NEXT_PUBLIC_PINATA_API_KEY=your_pinata_api_key_here
NEXT_PUBLIC_PINATA_SECRET_API_KEY=your_pinata_secret_api_key_here
